In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
    (1, 'manish', 50000, 'IT'),
    (2, 'vikash', 60000, 'sales'),
    (3, 'raushan', 70000, 'marketing'),
    (4, 'mukesh', 80000, 'IT'),
    (5, 'pritam', 90000, 'sales'),
    (6, 'nikita', 45000, 'marketing'),
    (7, 'ragini', 55000, 'marketing'),
    (8, 'rakesh', 100000, 'IT'),
    (9, 'aditya', 65000, 'IT'),
    (10, 'rahul', 50000, 'marketing')
]

In [0]:
emp_schema=['id','name','salary','dept']

In [0]:
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

what is the total salary given to its employee

In [0]:
emp_df.select(sum("salary")).show()

+-----------+
|sum(salary)|
+-----------+
|     665000|
+-----------+

what is the total salary per department wise?

In [0]:
emp_df.groupBy("dept")\
     .agg(sum("salary")).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

i want all columns name with one extra column where total salary of each dept is mentioned

or

i want % age of salary given to each employee per department wise?

In [0]:
emp_data2 = [
    (1, 'manish', 50000, 'IT', 'india'),
    (2, 'vikash', 60000, 'sales', 'us'),
    (3, 'raushan', 70000, 'marketing', 'india'),
    (4, 'mukesh', 80000, 'IT', 'us'),
    (5, 'pritam', 90000, 'sales', 'india'),
    (6, 'nikita', 45000, 'marketing', 'us'),
    (7, 'ragini', 55000, 'marketing', 'india'),
    (8, 'rakesh', 100000, 'IT', 'us'),
    (9, 'aditya', 65000, 'IT', 'india'),
    (10, 'rahul', 50000, 'marketing', 'us')
]

In [0]:
emp_schema2=['id','name','salary','dept','country']

In [0]:
emp_df2=spark.createDataFrame(data=emp_data2,schema=emp_schema2)

In [0]:
emp_df2.show()

+---+-------+------+---------+-------+
| id|   name|salary|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [0]:
emp_df2.groupBy("dept","country")\
    .agg(sum("salary")).show()

+---------+-------+-----------+
|     dept|country|sum(salary)|
+---------+-------+-----------+
|       IT|  india|     115000|
|    sales|     us|      60000|
|marketing|  india|     125000|
|    sales|  india|      90000|
|       IT|     us|     180000|
|marketing|     us|      95000|
+---------+-------+-----------+

In [0]:
spark.sql("""
          select dept, sum("salary")
          from table
          group by dept
          """)