In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

In [0]:
schema=['id','Name','sal','mngr_id']
manager_df= spark.createDataFrame(data=data,schema=schema)

In [0]:
manager_df.show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [0]:
manager_df.count()

Out[4]: 9

In [0]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

In [0]:
schema1=['id','Name','Salary','mngr_id']

In [0]:
manager_df1= spark.createDataFrame(data=data1,schema=schema1)

In [0]:
manager_df1.show()

+---+-----+------+-------+
| id| Name|Salary|mngr_id|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

In [0]:
manager_df.union(manager_df1).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 19| Sohan|50000|     18|
| 20|  Sima|75000|     17|
+---+------+-----+-------+

In [0]:
manager_df.union(manager_df1).count()

Out[10]: 11

In [0]:
manager_df.unionAll(manager_df1).count()

Out[11]: 11

In [0]:
data2=[(18 ,'sam',65000, 17),
(18 ,'sam',65000,  17)]

In [0]:
schema2=['id','Name','Salary','mngr_id']

In [0]:
duplicate_manager_df= spark.createDataFrame(data=data2,schema=schema2)

In [0]:
duplicate_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(18 ,'Sam',65000,   17),
(18 ,'Sam',65000,   17)]

schema4=['id','Name','sal','mngr_id']
duplicate_record= spark.createDataFrame(data=duplicate_data,schema=schema4)

In [0]:
duplicate_record.show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [0]:
duplicate_record.union(manager_df1).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 19| Sohan|50000|     18|
| 20|  Sima|75000|     17|
+---+------+-----+-------+

In [0]:
duplicate_record.union(manager_df1).count()

Out[19]: 13

In [0]:
duplicate_record.unionAll(manager_df1).count()

Out[20]: 13

In [0]:
manager_df1.createOrReplaceTempView("manager_df1_tbl")
duplicate_record.createOrReplaceTempView("duplicate_manaer_df_tbl")

In [0]:
spark.sql("""
          select * from manager_df1_tbl
          union
          select * from duplicate_manaer_df_tbl
          """).count()

Out[22]: 11

In [0]:
spark.sql("""
          select * from manager_df1_tbl
          union all
          select * from duplicate_manaer_df_tbl
          """).count()

Out[24]: 13

In [0]:
spark.sql("""
          select * from duplicate_manaer_df_tbl
          union 
          select * from duplicate_manaer_df_tbl
          """).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

In [0]:
wrong_schema=['id','salary','mngr_id','Name']

In [0]:
wrong_manager_df= spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
wrong_manager_df.show()

+---+------+-------+-----+
| id|salary|mngr_id| Name|
+---+------+-------+-----+
| 19| 50000|     18|Sohan|
| 20| 75000|     17| Sima|
+---+------+-------+-----+

In [0]:
manager_df1.union(wrong_manager_df).show()

+---+-----+------+-------+
| id| Name|Salary|mngr_id|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
| 19|50000|    18|  Sohan|
| 20|75000|    17|   Sima|
+---+-----+------+-------+

In [0]:
manager_df1.show()

+---+-----+------+-------+
| id| Name|Salary|mngr_id|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

In [0]:
wrong_manager_df.show()

+---+-----+-------+-----+
| id|  sal|mngr_id| Name|
+---+-----+-------+-----+
| 19|50000|     18|Sohan|
| 20|75000|     17| Sima|
+---+-----+-------+-----+

UnionByName = it will match the column by name

In [0]:
manager_df1.unionByName(wrong_manager_df).show()

+---+-----+------+-------+
| id| Name|Salary|mngr_id|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

you cannot use unionByName always because column can be different like prd_id and prod_id

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

wrong_schema=['id','salary','mngr_id','Name','bonus']

In [0]:
wrong_manager_df1=spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
wrong_manager_df1.select('id','salary','mngr_id','Name').union(manager_df1).show()

+---+------+-------+-----+
| id|salary|mngr_id| Name|
+---+------+-------+-----+
| 19| 50000|     18|Sohan|
| 20| 75000|     17| Sima|
| 19| Sohan|  50000|   18|
| 20|  Sima|  75000|   17|
+---+------+-------+-----+

unionByName - when two column name doesnt match then its not usefull nam   name

In [0]:
wrong_column_data2=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema2=['id','salary','mngr_id','Nam']

wrong_manager_df2= spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
wrong_manager_df.unionByName(wrong_manager_df2).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3134564740747114>:1
----> 1 wrong_manager_df.unionByName(wrong_manager_df2).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#593L, salary#594L, mngr_id#595L, Name#596], false
+- Project [id#724L, salary#725L, mngr_id#726L, Name#727, bonus#728L]
   +- LogicalRDD [id#724L, salary#725L, mngr_id#726L, Name#727, bonus#728L], false