In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=['id','name','salary','dept','gender']

emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)

emp_df=emp_df.select('id','name','salary','gender','dept')

emp_df.show()

+---+--------+------+------+---------+
| id|    name|salary|gender|     dept|
+---+--------+------+------+---------+
|  1|  manish| 50000|     m|       IT|
|  2|  vikash| 60000|     m|    sales|
|  3| raushan| 70000|     m|marketing|
|  4|  mukesh| 80000|     m|       IT|
|  5|   priti| 90000|     f|    sales|
|  6|  nikita| 45000|     f|marketing|
|  7|  ragini| 55000|     f|marketing|
|  8|   rashi|100000|     f|       IT|
|  9|  aditya| 65000|     m|       IT|
| 10|   rahul| 50000|     m|marketing|
| 11|   rakhi| 50000|     f|       IT|
| 12|akhilesh| 90000|     m|    sales|
+---+--------+------+------+---------+

Group By

In [0]:
emp_df.groupBy("dept")\
       .agg(sum("salary")).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     345000|
|marketing|     220000|
|    sales|     240000|
+---------+-----------+

Window Function

In [0]:
from pyspark.sql.window import Window

In [0]:
window = Window.partitionBy("dept").orderBy("salary")

emp_df.withColumn("row_number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_rank",dense_rank().over(window))\
.show(truncate=False)

+---+--------+------+------+---------+----------+----+----------+
|id |name    |salary|gender|dept     |row_number|Rank|Dense_rank|
+---+--------+------+------+---------+----------+----+----------+
|1  |manish  |50000 |m     |IT       |1         |1   |1         |
|11 |rakhi   |50000 |f     |IT       |2         |1   |1         |
|9  |aditya  |65000 |m     |IT       |3         |3   |2         |
|4  |mukesh  |80000 |m     |IT       |4         |4   |3         |
|8  |rashi   |100000|f     |IT       |5         |5   |4         |
|6  |nikita  |45000 |f     |marketing|1         |1   |1         |
|10 |rahul   |50000 |m     |marketing|2         |2   |2         |
|7  |ragini  |55000 |f     |marketing|3         |3   |3         |
|3  |raushan |70000 |m     |marketing|4         |4   |4         |
|2  |vikash  |60000 |m     |sales    |1         |1   |1         |
|5  |priti   |90000 |f     |sales    |2         |2   |2         |
|12 |akhilesh|90000 |m     |sales    |3         |2   |2         |
+---+--------+------+------+---------+----------+----+----------+

for male and female different in male find top 2 earners and in female top two earners

In [0]:
window = Window.partitionBy("dept","gender").orderBy("salary")

emp_df.withColumn("row_number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_rank",dense_rank().over(window))\
.show(truncate=False)

+---+--------+------+------+---------+----------+----+----------+
|id |name    |salary|gender|dept     |row_number|Rank|Dense_rank|
+---+--------+------+------+---------+----------+----+----------+
|11 |rakhi   |50000 |f     |IT       |1         |1   |1         |
|8  |rashi   |100000|f     |IT       |2         |2   |2         |
|1  |manish  |50000 |m     |IT       |1         |1   |1         |
|9  |aditya  |65000 |m     |IT       |2         |2   |2         |
|4  |mukesh  |80000 |m     |IT       |3         |3   |3         |
|6  |nikita  |45000 |f     |marketing|1         |1   |1         |
|7  |ragini  |55000 |f     |marketing|2         |2   |2         |
|10 |rahul   |50000 |m     |marketing|1         |1   |1         |
|3  |raushan |70000 |m     |marketing|2         |2   |2         |
|5  |priti   |90000 |f     |sales    |1         |1   |1         |
|2  |vikash  |60000 |m     |sales    |1         |1   |1         |
|12 |akhilesh|90000 |m     |sales    |2         |2   |2         |
+---+--------+------+------+---------+----------+----+----------+

In [0]:
window = Window.partitionBy("dept").orderBy(desc("salary"))

emp_df.withColumn("row_number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_rank",dense_rank().over(window))\
        .filter(col("Dense_Rank")<=2)\
.show(truncate=False)

+---+--------+------+------+---------+----------+----+----------+
|id |name    |salary|gender|dept     |row_number|Rank|Dense_rank|
+---+--------+------+------+---------+----------+----+----------+
|8  |rashi   |100000|f     |IT       |1         |1   |1         |
|4  |mukesh  |80000 |m     |IT       |2         |2   |2         |
|3  |raushan |70000 |m     |marketing|1         |1   |1         |
|7  |ragini  |55000 |f     |marketing|2         |2   |2         |
|5  |priti   |90000 |f     |sales    |1         |1   |1         |
|12 |akhilesh|90000 |m     |sales    |2         |1   |1         |
|2  |vikash  |60000 |m     |sales    |3         |3   |2         |
+---+--------+------+------+---------+----------+----+----------+

In [0]:
window = Window.partitionBy("dept","gender").orderBy(desc("salary"))

emp_df.withColumn("row_number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_rank",dense_rank().over(window))\
        .filter(col("Dense_Rank")<=2)\
.show(truncate=False)

+---+--------+------+------+---------+----------+----+----------+
|id |name    |salary|gender|dept     |row_number|Rank|Dense_rank|
+---+--------+------+------+---------+----------+----+----------+
|8  |rashi   |100000|f     |IT       |1         |1   |1         |
|11 |rakhi   |50000 |f     |IT       |2         |2   |2         |
|4  |mukesh  |80000 |m     |IT       |1         |1   |1         |
|9  |aditya  |65000 |m     |IT       |2         |2   |2         |
|7  |ragini  |55000 |f     |marketing|1         |1   |1         |
|6  |nikita  |45000 |f     |marketing|2         |2   |2         |
|3  |raushan |70000 |m     |marketing|1         |1   |1         |
|10 |rahul   |50000 |m     |marketing|2         |2   |2         |
|5  |priti   |90000 |f     |sales    |1         |1   |1         |
|12 |akhilesh|90000 |m     |sales    |1         |1   |1         |
|2  |vikash  |60000 |m     |sales    |2         |2   |2         |
+---+--------+------+------+---------+----------+----+----------+